@media (max-width: 768px) {
    
    /* navbar */
    .navbar {
        padding: 12px 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .company-name {
        margin-bottom: 15px;
    }

    .nav-menu {
        width: 100%;
        justify-content: space-between;
    }

    .nav-menu li {
        margin-left: 0;
    }

    body {
        padding-top: 120px;
    }

    /* slider */
    .slider-container {
        height: 400px;
        margin-top: 120px; /* for mobile*/
    }
    
    .slider-title {
        font-size: 1.8rem;
    }
    
    .slider-description {
        font-size: 1.1rem;
    }
    
    .slider-btn {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    /* slider */
    .slider-container {
        height: 350px;
    }
    
    .slider-title {
        font-size: 1.5rem;
    }
    
    .slider-description {
        font-size: 1rem;
    }
    
    .slide-content {
        width: 90%;
        padding: 15px;
    }
}