@media (max-width: 768px) {
    
    /* navbar */
    .navbar {
        padding: 12px 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .company-name {
        margin-bottom: 15px;
    }

    .nav-menu {
        width: 100%;
        justify-content: space-between;
    }

    .nav-menu li {
        margin-left: 0;
    }

    body {
        padding-top: 120px;
    }

    /* slider */
    .slider-container {
        height: 400px;
        margin-top: 120px; /* for mobile*/
    }
    
    .slider-title {
        font-size: 1.8rem;
    }
    
    .slider-description {
        font-size: 1.1rem;
    }
    
    .slider-btn {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
    }

    /* searchbox */
    .search-wrapper {
        margin-top: -50px;
        padding: 0 15px;
    }

    .search-card {
        padding: 25px 30px;
        max-width: 90%;
    }

    .search-header {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }

    .search-field {
        padding: 16px 20px;
        font-size: 1rem;
    }

    .search-submit {
        padding: 0 25px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    /* slider */
    .slider-container {
        height: 350px;
    }
    
    .slider-title {
        font-size: 1.5rem;
    }
    
    .slider-description {
        font-size: 1rem;
    }
    
    .slide-content {
        width: 90%;
        padding: 15px;
    }

    /* searchbox */
    .search-wrapper {
        margin-top: -40px;
    }

    .search-card {
        padding: 20px;
        border-radius: 12px;
    }

    .search-header {
        font-size: 1.2rem;
    }

    .search-form {
        flex-direction: column;
        border-radius: 12px;
    }

    .search-field {
        padding: 15px;
        border-bottom: 1px solid #eee;
    }

    .search-submit {
        padding: 15px;
        justify-content: center;
        border-radius: 0 0 10px 10px;
    }
}